---
layout: projects
title: Projects
permalink: /projects/
---

<div class="projects">
    {% assign projects = site.data.projects %}

    {% for project in projects %}
        <div class="project">
            <a href="{{ project.url }}" target="_blank">
                <img src="{{ project.img }}" />
                <div class="project-infos">
                    <div>
                        <h2>{{ project.title }}</h2>
                        <p>
                            {% for technology in project.stack %}
                            #{{ technology | escape }}&nbsp;
                            {% endfor %}
                        </p>
                    </div>
                    <a href="{{ project.github }}" target="_blank" class="github-link"><i class="fa fa-code-fork"></i></a>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

