---
title: Resume
permalink: /resume/
tab_names:
  - experience
  - skills
  - education
---

<div class="resume-header">
  <a href="#" title="Download"><i class="fas fa-download"></i></a>
  &nbsp;
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  Last Updated {{ '2020-05-19' | date: date_format }}
</div>

<div class="resume-tabs">
  {%- assign tab = 1 -%}

  {% for tab_name in page.tab_names %}
    <input name="resume-tabs"
           {% if tab == 1 %}checked="checked"{% endif %}
           type="radio"
           id="resume-tab-{{ tab }}"
           class="input"/>
    <label for="resume-tab-{{ tab }}" class="resume-label" data-text="{{ tab_name }}">{{ tab_name }}</label>
    <div class="resume-panel">
      {%- include resume/{{ tab_name }}.html -%}
    </div>

    {%- assign tab = tab | plus: 1 -%}
  {% endfor %}
</div>
