/**
 * Blog page
 */

.post-list {
  margin-bottom: 0; // to remove it from the ul

  a {
    border-bottom: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    &:hover {
      @include transition(color .3s ease-out);
      transition-delay: 0.2s;
    }

    p {
      color: $text-color;
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 0;
    }

    .post-category {
      color: $grey-color;
    }

    .post-meta {
      line-height: 2;
    }

    li {
      //padding: $spacing-unit / 3;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  h3 {
    @include relative-font-size(1.5);
    margin-bottom: $spacing-unit / 4;
  }
}
