/**
 * 404 page
 */
.page-content-404 {
  flex: 1;
}

.container-404 {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;

  p {
    font-size: 20px;
    opacity: .7;

    @include media-query($on-palm) {
      padding: $spacing-unit/2;
    }
  }
}

.under-banner {
  padding: $spacing-unit 0;
}


.banner-404 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  @include media-query($on-palm) {
    padding: 75px 0;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 8em;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 1;

    @include media-query($on-palm) {
      font-size: 6em;
    }
  }
}
