/**
 * Pagination navbar
 */
.pagination {
  padding-top: $spacing-unit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //@include media-query($on-palm) {
  //  padding-top: 0;
  //}

  span {
    @include relative-font-size(1.1);
  }

  .arrow {
    @include relative-font-size(1.1);
    min-width: $base-font-size * 1.1;
    font-weight: bold;
    color: $grey-color-light;

    &:hover,
    &:focus {
      @include transition(all .3s ease-in-out);
      color: $text-color;
    }
  }
}