/**
 * Resume page
 */
.resume-tabs {
  display: flex;
  flex-wrap: wrap;

  input, label, div, p {
    box-sizing: border-box;
  }

  input, label, div, p, span {
    letter-spacing: 0.8px;
  }
}

.resume-links {
  color: $grey-color-lighter;
  padding: 0 ($spacing-unit/3);
  margin-top: $spacing-unit * 2.5;

  a {
    color: $grey-color-light;

    &:hover {
      @include transition(color 0.3s ease-in-out);
      color: $text-color;
    }
  }

  a:nth-child(1) > i {
    padding-right: ($spacing-unit/6);
  }

  i {
    padding-right: ($spacing-unit/4);
  }
}

.input {
  position: absolute;
  opacity: 0;

  &:focus + .resume-label {
    // #2aa1c0; // #4DA2C0
    z-index: 1;
  }

  &:checked + .resume-label {
    color: darken($brand-color, 15%);
    font-weight: bold;

    + .resume-panel {
      display: block;
      width: 100%;
    }
  }
}

.resume-label {
  width: auto;
  padding: 0 ($spacing-unit/2);
  cursor: pointer;

  &:nth-child(2) {
    padding-left: ($spacing-unit/3);

    //@include media-query($on-palm) {
    //  padding-left: ($spacing-unit/3);
    //}
  }

  @include media-query($on-palm) {
    padding: 0 ($spacing-unit/5);
  }

  @include transition(all .3s ease-in-out);
  transition-delay: 0.2s;

  // Hover bold that doesn't move the word
  display: inline-block;
  text-align: center;

  @include relative-font-size(1.25);

  @include media-query($on-palm) {
    @include relative-font-size(1.125);
  }

  color: $brand-color;

  &:hover {
    color: darken($brand-color, 15%);
  }

  &::before {
    display: block;
    content: attr(data-text); // Add a data-text attribute to the <label>
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.resume-panel {
  display: none;
  padding: ($spacing-unit*0.4) 0 0 ($spacing-unit/3);
  order: 99;

  @include media-query($on-palm) {
    padding-right: ($spacing-unit/3);
  }

  i {
    padding-right: ($spacing-unit/2);
    color: $grey-color-lighter;

    @include transition(color .3s ease-in-out);
    transition-delay: 0.1s;
  }
}

.all-button {
  @include relative-font-size(1.125);
  color: $grey-color;

  i {
    cursor: pointer;

    &:hover {
      color: $grey-color;
    }
  }
}


@import
  "tabs/accordion",
  "tabs/skills"
;
