/**
 * Headings Font
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1px;
}


p, span, a, label {
  letter-spacing: 0.4px;
}


/**
 * Header nav links
 */
.site-title {
    img {
      height: 3.5rem;

      @include media-query($on-palm) {
        height: 3.1rem;
      }
    }
}

.site-nav {
  .page-link {
    color: $grey-color;
    display: inline-block;
    text-align: center;

    &:hover {
      @include transition(all .3s ease-in-out);
      transition-delay: 0.2s;
      color: $grey-color-dark;
    }

    // Hover bold that doesn't move the word
    &::before {
      display: block;
      content: attr(data-text); // Add a data-text attribute to the <a>
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    @include media-query($on-palm) {
      display: block;
      text-align: right;
    }

    &.active__link{
      color: $grey-color-dark;

      font-weight: bold;
      border-bottom: 3px solid $grey-color-light;

      @include media-query($on-palm) {
        font-weight: normal;
        border-bottom: none;
      }
    }
  }
}

@import
  "custom/landing-page",
  "custom/pagination",
  "custom/resume",
  "custom/not-found",
  "custom/blog",
  "custom/projects"
;
