
<div class="all-button">
    <i class="fas fa-expand-arrows-alt"></i><span>All</span>
</div>

<div class="vertical-accordion">
    <ul>
        <li>
            <input type="checkbox" id="checkbox-1" name="checkbox-accordion" />
            <label for="checkbox-1"><i class="fas fa-expand-alt"></i>Title&nbsp;One</label>
            <div class="content">

                <p>- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec posuere lorem. Pellentesque hendrerit, lorem luctus porttitor vestibulum, eros sapien mattis libero, </p>
                <p>euismod congue neque nisi at ipsum. Mauris semper ipsum sit amet metus semper malesuada. Donec vel est justo, ac porta diam.</p>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-2" name="checkbox-accordion" />
            <label for="checkbox-2"><i class="fas fa-expand-alt"></i>Title&nbsp;Two</label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec posuere lorem. Pellentesque hendrerit, lorem luctus porttitor vestibulum, eros sapien mattis libero, euismod congue neque nisi at ipsum. Mauris semper ipsum sit amet metus semper malesuada. Donec vel est justo, ac porta diam.</p>
            </div>
        </li>
        <li>
            <input type="checkbox" id="checkbox-3" name="checkbox-accordion" />
            <label for="checkbox-3"><i class="fas fa-expand-alt"></i>Title&nbsp;Three</label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec posuere lorem. Pellentesque hendrerit, lorem luctus porttitor vestibulum, eros sapien mattis libero, euismod congue neque nisi at ipsum. Mauris semper ipsum sit amet metus semper malesuada. Donec vel est justo, ac porta diam.</p>
            </div>
        </li>
    </ul>
</div>