
<div class="all-button">
    <i class="fas fa-expand-arrows-alt"></i><span>All</span>
</div>

<div class="vertical-accordion">
    <ul>
        {% assign qualifications = site.data.resume.education %}
        {% assign item = 1 %}

        {% for qualification in qualifications %}

            <!-- Format dates based on Year -->
            {% assign startYear = qualification.startDate | date: "%Y" %}
            {% assign endYear = qualification.endDate | date: "%Y" %}

            {% if startYear == endYear %}
                {% assign date_format = "%b %Y" %}
            {% else %}
                {% assign date_format = "%Y" %}
            {% endif %}

            {% assign startDate = qualification.startDate | date: date_format %}
            {% assign endDate = qualification.endDate | date: date_format %}

            {% if startYear == endYear %}
                {% assign dates = startDate | append: " - " | append: endDate %}
            {% else %}
                {% assign dates = startDate | append: "-" | append: endDate %}
            {% endif %}

            <li>
                <input type="checkbox" id="checkbox-{{ item }}" name="checkbox-accordion" />
                <label for="checkbox-{{ item }}">
                    <!-- All the indentation here is on purpose -->
                    <i class="fas fa-expand-alt"></i>{{ qualification.institution }}
                    &nbsp;&#183;&nbsp;&nbsp;{{ dates }}
                </label>
                <div class="accordion-content">
                    <p>{{ qualification.area }} {{ qualification.studyType }}</p>
                </div>
            </li>
            {% assign item = item | plus: 1 %}
        
        {% endfor %}
    </ul>
</div>