/**
 * Education Tab
 */

.vertical-accordion {
  margin:0 auto;
  padding-top: ($spacing-unit/5);

  ul {
    list-style:none;
    margin:0;
    padding:0;
  }

  li {
    margin:0;
    padding:0;
  }

  [type=checkbox] {
    position: absolute;
    opacity: 0;
  }

  label {
    padding: ($base-font-size/4) 0 ($base-font-size/4 - 3px); // Minus size of border
    display:block;
    cursor:pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    @include relative-font-size(1.125);
  }

  ul li {
    overflow:hidden;

    label {

      @include media-query($on-palm) {
        span  {
          line-height: 1.25;
        }
      }

      i {
        line-height: 1.5;

        @include media-query($on-palm) {
          line-height: 1.25;
        }
      }

      &:hover {
        i {
          color: $grey-color;
        }
      }
    }
  }

  .checkbox-label-content {
    display: flex;
  }

  .experience-dates {
    @include relative-font-size(0.875);
    line-height: 1;

    @include media-query($on-palm) {
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  .education-border-end {
    flex: auto;
    position: relative;

    @include media-query($on-palm) {
      display: none;
    }

    div {
      height: $spacing-unit/3;
      width: 100%;
      background: $background-color;
      position: absolute;
      top: 95%;
    }
  }

  .accordion-content {
    //@include relative-font-size(0.875);
    max-height:0;
    margin-left: $base-font-size - 4px + ($spacing-unit/2);
    border-top: 3px solid transparent;

    overflow:hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
  }

  [type=checkbox]:checked ~ label {
    padding: ($base-font-size/4) 0;

    ~ .accordion-content {
      max-height:1700px; // Make this larger then any accordion-content might be to get the transition animation (remember palm)
      border-top: 3px solid $grey-color-light;
      padding: ($base-font-size/2 - 3px) 0; // Minus size of border
    }
  }

  p {
    margin:0 0 ($base-font-size/4);
  }
}

