/**
 * Skills tab
 */
.skill-list {
  list-style-type: "\00B7\00A0";
  margin-left: $spacing-unit / 3;

  @include media-query($on-palm) {
    margin-bottom: 0;
  }
}

.skills-col-wrapper {
  @extend %clearfix;

  @include media-query($on-palm) {
    > div:nth-child(1) {
      margin-top: 5px;
    }
  }
}

.skills-col {
  float: left;
  padding-right: calc(5% - (#{$spacing-unit} / 3));

  @include media-query($on-palm) {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

